# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MATLAB swap files
*.swp
*.asv

# Compiled MATLAB mex files
*.mexa64
*.mexmaci64
*.mexw64

# Extraneous external code
include/external/CGAL-6.0.1/
include/external/eigen-3.4.0/
include/external/libigl-predicates/build

# IDE related files
.vscode/
