[submodule "include/external/NNIpp"]
	path = include/external/NNIpp
	url = https://github.com/DillonCislo/NNIpp.git
[submodule "include/external/libigl"]
	path = include/external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "include/external/libigl-predicates"]
	path = include/external/libigl-predicates
	url = https://github.com/libigl/libigl-predicates.git
[submodule "include/external/DECLab"]
	path = include/external/DECLab
	url = https://github.com/DillonCislo/DECLab.git
[submodule "include/external/RicciFlow_MATLAB"]
	path = include/external/RicciFlow_MATLAB
	url = https://github.com/DillonCislo/RicciFlow_MATLAB.git
[submodule "include/external/mesh2d"]
	path = include/external/mesh2d
	url = https://github.com/dengwirda/mesh2d.git
[submodule "include/external/BrewerMap"]
	path = include/external/BrewerMap
	url = https://github.com/DrosteEffect/BrewerMap.git
